:root {
    --background: hsla(0, 0%, 100%, 1);;
    --text-color: hsla(0, 0%, 13%, 1);
    --secondary-text: hsla(0, 0%, 45%, 1);
    --tertiary-text: hsla(0, 0%, 65%, 1);
    --link-bg: #f4f4f4;
    --link-hover-bg: #e8e8e8;
    --border-color: hsla(0, 0%, 81%, 1);;
    --shadow-color: rgba(0, 0, 0, 0.05);

    @media (prefers-color-scheme: dark) {
        --background: hsla(0, 0%, 5%, 1);;
        --text-color: hsla(0, 0%, 95%, 1);
        --secondary-text: hsla(0, 0%, 78%, 1);
        --tertiary-text: hsla(0, 0%, 62%, 1);
        --link-bg: #1e1e1e;
        --link-hover-bg: #292929;
        --border-color: hsla(0, 0%, 30%, 0.5);
        --shadow-color: rgba(255, 255, 255, 0.05);
    }
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

html, body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 16px;
    line-height: 1.5;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background);
    color: var(--text-color);
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 576px;
    padding: 24px;
    box-sizing: border-box;
    background: var(--background);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 12px;
    border: 2px solid var(--border-color);
    transition: transform 0.3s ease;
}

.profile img:hover {
  transform: scale(1.05);
}

.profile h1 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 600;
}

.profile p {
    font-size: 0.9rem;
    /* color: var(--secondary-text); */
    margin-bottom: 24px;
    line-height: 1.45;
}

.profile p a {
    color: var(--secondary-text);
    text-decoration: underline;
    text-underline-offset: .15rem;
}

.profile p a:hover {
    color: var(--text-color);
    text-decoration: none;
}

.links {
    /* display: flex; */
    display: none;
    flex-direction: column;
    gap: 0.85rem;
}

.links a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    background: var(--link-bg);
    color: var(--text-color);
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-size: 0.95rem;
    font-weight: 550;
    border: 1px solid var(--border-color);
    transition: background 0.2s ease, transform 0.2s ease;
}

.links a i {
    font-size: 1.6rem;
}

.links a:hover {
    background: var(--link-hover-bg);
    transform: translateY(-1px);
}

footer {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 10px 0;
    font-size: 0.8rem;
    color: var(--tertiary-text);
    text-align: center;
}